<h1>Hi <%= @user.email %></h1>
<p> This is just a quick reminder about your tickets to this concert. </p>
<p> Сoncert canceled.</p>
<p>Concert - <%= @concert.title %> </p>
<p>Ticket holder - <%= @user.email %> </p>
<p>Ticket canceled.</p>