<h1>Afisha</h1>
<ul> 
  <% @concerts.each do |concert| %>
   <%if concert.status != 'sold_out'  %>
      <li>
        <%= link_to concert.title, concert%>
      </li>
    <% end %>
  <% end %>
</ul> 
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "New Concert", new_concert_path %>
<% end %>